@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --white: #F8F8F8;
  --red: #C3073F;
  --darkgray: #1A1A1D;
  --darkblack: #161616;
  --lightgray: #222222;
  --cyan: #00D5B5;
  --animate-duration: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Comfortaa', cursive;
  height: 100%;
}

body {
  color: var(--white);
  background-color: var(--darkgray);
}

/* Navbar */

.bg-transparent {
  background-color: transparent !important;
}
.navbar-dark li a {
  color: var(--white) !important;
  font-weight: bold;
}
.navbar-nav .nav-link {
  padding-right: .9rem !important;
  padding-left: .9rem !important;
}
.navbar-brand img {
  border-radius: 50%;
  margin-right: .9rem !important
}

.nav-link {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.nav-link:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 0%; /* Change this to whatever width you want. */
  border-bottom: 3px solid transparent; /* This creates the border. Replace black with whatever color you want. */
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
@media (min-width: 767.98px) {
  .nav-link:hover:after {
    border-bottom: 3px solid var(--red);
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .nav-link:hover {
    color: var(--red) !important;
  }
}

.navbar-toggler {
  border: 0;
  outline: 0;
  font-size: 25px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: var(--white) !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  color: var(--red);
}

/* Navbar end */

/* Intro page */
.bg-dark {
  background-color: var(--darkgray) !important;
}

.social-icons i {
  color: var(--white);
}
.social-icons i:hover {
  color: var(--red);
}

/* Intro page end */

/* Work-section / recent projects */

.bg-light {
  color: var(--white);
  background-color: var(--darkblack) !important;
}

#work-section {
  padding: 75px 50px;
  /*min-height: 100vh;*/
}

#work-section .col-12 {
  display: flex;
  justify-content: center;
}

#work-section a {
  font-weight: bold;
  cursor: pointer;
  color: var(--white)
}

#work-section a:hover {
  color: var(--cyan);
}

#work-section .card {
  background-color: transparent;
}

#work-section .card p {
  margin: 15px 0 0 0;
}


/* Buttons */
.btn.btn-outline-red {
  border-color: var(--cyan);
  color: var(--cyan)
}
.btn.btn-outline-red.active, .btn.btn-outline-red:hover {
  background-color: var(--cyan);
  color: var(--white)
}

.btn.btn-github {
  background-color: var(--lightgray);
  color: var(--white)
}
.btn.btn-github:hover {
  background-color: var(--cyan);
}

/* Work-section end */


.return-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: var(--cyan);
  padding: 10px 12px;
  opacity: 0;
  transform: scale3d(1,1,1);
  transition: all .1s ease-in-out;
}

a.return-to-top {
  text-decoration: none;
  color: white;
}

a.return-to-top:hover {
  background-color: var(--cyan);
}

i.fa-heart {
  animation: heartBeat 2s infinite;
  -webkit-animation: heartBeat 2s infinite;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
}


.copyright-wrapper {
  padding: 25px;
  text-align: center;
  background-color: var(--darkgray)
}

.copyright-wrapper p {
  margin-bottom: 0px;
}

/* Tooltip */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: block;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  top: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -40px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: var(--red);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
  white-space: nowrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  margin-top: -5px;
  border-right: 6px solid transparent;
	border-bottom: 6px solid var(--red); 
  border-left: 6px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transform: scale3d(1,1,1);
  transition: all .2s .1s ease-in-out;
}
