@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --white: #F8F8F8;
  --red: #C3073F;
  --darkgray: #1A1A1D;
  --lightgray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;
  height: 100%;
}

body {
  color: var(--white);
}

.navbar {
  display: flex;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 10px 10px 5px;
  position: fixed;
  mix-blend-mode: difference;
}

#projects a {
  text-decoration: none;
}

.navbar .logo-wrapper {
  display: flex;
  align-items: center;
  width: 40%;
}
.navbar .logo-wrapper img {
  opacity: 0;
}
#header img.img-logo {
  height: 75px;
  position: fixed;
  border-radius: 50%;
  top: 5px;
  left: 10px;
}
.navbar .logo-wrapper .logo-heading {
  margin-left: 15px;
}
.navbar .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 60%;
}
.navbar .navigation li {
  display: flex;
  list-style: none;
  padding: 12px 15px;
}
.navbar .navigation li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.navbar .navigation a {
  position: relative;
}

.navbar .navigation li a:after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--red);
  width: 0;
  position: absolute;
  left: 0;
  margin-top: 4px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navbar .navigation li a:hover:after {
  width: 100%;
}

.navbar-logo {
  border-radius: 50%;
  height: 75px;
  width: auto;
}

#welcome-section {
  display: flex;
  height: 100vh;
  background: var(--darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-section h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}
#welcome-section h2 {
  font-size: 1.5em;
}

.welcome-social p {
  margin-top: 15px;
}
.welcome-social i {
  color: var(--white);
}
.welcome-social i:hover {
  color: var(--red);
}

#about-section {
  background-color: var(--red);
  height: 425px;
}

#work-section {
  height: 100vh;
  background-color: var(--white);
  color: var(--lightgray);
  min-height: 600px;
  max-height: 700px;
}

#work-section .work-wrapper, #about-section .about-wrapper {
  display: flex;
  justify-content: center;
}
#work-section .work-wrapper header, #about-section .about-wrapper header {
  margin-top: 55px;
  width: 540px;
  text-align: center;
}
#work-section .work-wrapper header h1 {
  justify-content: center;
  font-size: 2em;
  border-bottom: 2px solid var(--lightgray);
}

#about-section .about-wrapper h1 span {
  justify-content: center;
  border-bottom: 2px solid white;
}

#projects {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#projects .project-tile {
  background-color: var(--darkgray);
  margin: 0 20px;
}

#projects .project-tile img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}


#projects .project-title {
  text-align: center;
  padding: 20px 0;
  background-color: var(--darkgray);
  color: white;
}


@media only screen and (max-height: 400px) {
  #welcome-section {
    height: 400px;
  }
}

.copyright-wrapper {
  padding: 25px;
  text-align: center;
  background-color: var(--darkgray)
}

.aboutme {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 200;
}

/* Tooltip */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: block;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  top: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -40px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: var(--red);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
  white-space: nowrap;
}



/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  margin-top: -5px;
  border-right: 6px solid transparent;
	border-bottom: 6px solid var(--red); 
  border-left: 6px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transform: scale3d(1,1,1);
  transition: all .2s .1s ease-in-out;
}


.return-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: rgba(26, 26, 29, 0.2);
  padding: 10px 12px;
  opacity: 0;
  transform: scale3d(1,1,1);
  transition: all .1s .1s ease-in-out;
  animation: popout .1s ease;
  -webkit-animation: popout .1s ease;
}

a.return-to-top {
  text-decoration: none;
  color: white;
}

a.return-to-top i {
  transform: scale3d(1,1,1);
  transition: all .1s .1s ease-in-out;
}

a.return-to-top:hover {
  background-color: rgba(26, 26, 29, 1);
}

a.return-to-top:hover i {
  transform: scale(1.1);
}

@media only screen and (max-width: 1400px) {
  .navbar {
    background-color: var(--darkgray);
    color: white;
  }
  #projects .project-tile img {
    height: 250px;
    width: 250px;
  }

  .navbar .logo-wrapper .logo-heading {
    font-size: 14px;
  } 

  .navbar .navigation a {
    font-size: 14px;
  }
}

i.fa-heart {
  animation: heartBeat 2s infinite;
  -webkit-animation: heartBeat 2s infinite;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}


@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
}